* {
  text-align: center;
  display:flexbox;
  box-sizing: border-box;
}

html {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  background-color: black;
   font-size: 1rem;
  color: white;
}

.header-container {
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
  top:0;
  left:0; 
  width:100%;
  height:50px;
  background-color: black;
  position: fixed;
  z-index: 1000;
}

header h1{
  font-size: 1.5rem;
  color: aliceblue;
  margin-left: 10px;
}
@media screen {
  header h1{
    font-size: 1rem;
  }
  .logo{
    width:20px;
    height:20px;
  }
  
}

.nav-bar {
  display: inline-flexbox;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
  float:right;
}

.nav-link {
  display: inline;
  text-align: right;
  color: aliceblue;
  text-decoration: none;
  font-size: 2m;
  margin-left: 5px;
}
@media (max-width: 600px) {
 .nav-link {
    font-size: 1rem;
    margin-left: 2px;
  }
}

.nav-link:hover {
  color: blue;
  cursor: pointer;
}

body {
  background-image: url(https://scontent.ftpa1-2.fna.fbcdn.net/v/t39.30808-6/590248819_25178147155157103_1025411629835688673_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=127cfc&_nc_ohc=esy80riedsUQ7kNvwF8lj0d&_nc_oc=AdkMXgVnGlAZWFuMUzmqVHOlXCT7_mzWNYHHNlQi4nVAtZ1QoooOw6i-HlJsrnNDLxiwyYF4T4iqc9iL0gwFwC5O&_nc_zt=23&_nc_ht=scontent.ftpa1-2.fna&_nc_gid=8XazrVAkZT-g53Jc_a6-iw&oh=00_AfkSA106Ly9haaTU_zc-lXf8RRUrKV7THRZWWm2ee79NdA&oe=694885A8);
  background-repeat: no-repeat; /*no tiling*/
  background-size: cover;
  background-position: center;
  width: 100%;
}

main {
  margin-top: 100px;
  text-align: center;
}

#email,
input button {
  align-self: center;
  align-content: center;
  justify-content: center;
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}
.project-grid-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}
.price-grid-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.package-grid-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.column{
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  text-align: left;
  background-color: black;
  color: white;
  position: fixed;
  bottom: 0;
  left:0;
  width: 100%;
  font-size: .5rem;
  display                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              
  justify-content: center;

} 