header {
  text-align: canter;
  font-family: "Brush Script MT", "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1rem;
  background-color: black;
  color: aliceblue;
  width: 100%;
  height: 100%;
}

.nav-bar {
  font-size: 1.75rem;
  display: inline;
}

.nav-link {
  diplay: flex-box;
  color: aliceblue;
  text-align: right;
  margin-block-end: auto;
}
.nav-link:hover {
  color: blue;
  cursor: pointer;
}

main {
  background-image: url(https://scontent-atl3-2.xx.fbcdn.net/v/t39.30808-6/595538045_25233534866284998_3951784622074485230_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=127cfc&_nc_ohc=Jdt7qBeXQ0sQ7kNvwGOy2cH&_nc_oc=AdnOgXzcPl8-3_1Y0MJ0AiviOxj-SvKle5-NHl1Y2bizeQw6PAj6WPZcdGE9jp_qT8c&_nc_zt=23&_nc_ht=scontent-atl3-2.xx&_nc_gid=-TcJ6A4t1VIqXZZWa7e-gg&oh=00_AfniQ0I12D7jcea7TGlcNKMu9Bi_Unp1HKcnGvYNHaDOtA&oe=693A89D3);
  background-repeat: no-repeat; /*no tiling*/
  background-size: cover;
  background-position: center;
}
