* {
  text-align: center;
}
html {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  background-color: black;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: aliceblue;
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 1000;
  font-family: "Brush Script MT", cursive;
}

div .company-name-logo {
  background-color: black;
  color: aliceblue;

  font-family: "Brush Script MT", "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  top: 0;
  left: 0;
  margin-left: 10px;
  padding: 2px 2px 2px 2px;
}

.nav-bar {
  display: inline;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.nav-link {
  color: aliceblue;
  text-decoration: none;
  font-size: 1.7rem;
  margin-left: 5px;
}

.nav-link:hover {
  color: blue;
  cursor: pointer;
}

body {
  background-image: url(https://scontent.ftpa1-2.fna.fbcdn.net/v/t39.30808-6/590248819_25178147155157103_1025411629835688673_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=127cfc&_nc_ohc=esy80riedsUQ7kNvwF8lj0d&_nc_oc=AdkMXgVnGlAZWFuMUzmqVHOlXCT7_mzWNYHHNlQi4nVAtZ1QoooOw6i-HlJsrnNDLxiwyYF4T4iqc9iL0gwFwC5O&_nc_zt=23&_nc_ht=scontent.ftpa1-2.fna&_nc_gid=8XazrVAkZT-g53Jc_a6-iw&oh=00_AfkSA106Ly9haaTU_zc-lXf8RRUrKV7THRZWWm2ee79NdA&oe=694885A8);
  background-repeat: no-repeat; /*no tiling*/
  background-size: cover;
  background-position: center;
  width: 100%;
}

main {
  margin-top: 100px;
  text-align: center;
  font-family: "Brush Script MT", cursive;
}

#email,
input button {
  align-self: center;
  align-content: center;
  justify-content: center;
}

.gallery-grid-container,
.package-grid-container {
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
  margin-bottom: 100px;
}

.package-grid-container {
  justify-items: center;
}

.gallery-column {
  column-gap: 200px;
}

.pricing-teir {
  border: 3px solid darkgray;
  padding: 10px 10px 10px 10px;
  align-items: center;
}

.gallery-grid-header {
  font-size: 4rem;
  margin-top: 200px;
  margin-bottom: 20px;
  gap: 20px;
  color: darkslategray;
}
images .gallery-grid-container {
  width: 150px;
  height: 150px;
}

@media (max-width: 600px) {
  images {
    align-items: center;
    min-width: min-content;
    min-height: min-content;
  }

  .gallery-grid-container,
  .package-grid-container {
    align-items: center;
  }

  .package-grid-container {
    justify-items: center;
  }

  .gallery-column {
    column-gap: 5px;
  }

  .pricing-teir {
    border: 3px solid darkgray;
    padding: 2px 2px 2px 2px;
    align-items: center;
  }

  .gallery-grid-header {
    font-size: 0.5rem;
    margin-top: 5px;
    margin-bottom: 1px;
    color: darkslategray;
  }
}

.row1 {
  font-size: larger;
  color: darkslategrey;
}

.row2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: medium;
}

.footer-continer {
  background-color: black;
  color: aliceblue;
  width: 100%;
  height: auto;
}

copyright {
  text-align: left;
}

.contact {
  display: inline-flex;
  justify-content: space-between;
}
