.header-container {
  background-color: black;
  color: aliceblue;
 width:100%;
 height:50px;
 margin:none;
 padding:none;
}

header {
  text-align: left;
  font-family: "Brush Script MT", "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1rem;
  background-color: black;
  width:100%;
  height:100%;
}

.nav-bar {
  font-size: 2rem;
  align-self: right;
  text-align: right;
  float:right;
  margin-right: 10px;
  margin-left:100px;
  top: 0;
  align-items:right:
}

.nav-link {
  margin-right:0;
  display: flexbox;
  flex-direction: column-reverse;
  color: antiquewhite;
  justify-content: space-between;
  margin-left:20px;
  align-items:right;
  text-align:left;
}
.nav-link:hover{
  color:blue ;
  cursor: pointer;
}

div .gallery-container {
  background-image: url("https://cdn.wallpapersafari.com/78/69/5sHZEr.jpg");
  background-repeat: no-repeat; /*no tiling*/
  background-size: cover;
  background-position: center;
}
